* {
    margin: 0;
    padding: 0;

}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

header {
    background-color: blue;
    height: 87px;
    display: flex;
    color: #FFFFFF;
    align-items: center;

}

h1 {
    margin-left: 23px;
    font-size: 30px;
    font-weight: bold;

}

.search{
    margin-left: 40%;
}

.search input{
    
}

.login{
    
}

.login img {
    width: 45px;
    height: 45px;
}

.login a{
    text-decoration: none;
}

.shop-cart img {
    width: 45px;
    height: 45px;
}

